# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    { 'label': 'xml-formatter: Entire File', 'command': 'xml-formatter:indent' },
    { 'label': 'xml-formatter: Selection', 'command': 'xml-formatter:selection' }

  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'XML Formatter'
      'submenu': [
        { 'label': 'Indent', 'command': 'xml-formatter:indent' },
        { 'label': 'Selection', 'command': 'xml-formatter:selection' }


      ]
    ]
  }
]
